body {
  background-color: #0f0c29;
  color: white;
  margin: 0;
  min-height: 100vh;
}

/* Custom Utilities */
.perspective-1000 {
  perspective: 1000px;
}
.transform-style-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}